!/patches
!*.patch
!*.diff
*.debhelper*
*.local
*.pyc
*.substvars
*-di
/*-tmp/
/build/
/config.defines.dump
/control
/control.md5sum
/files
/hyperv-daemons/
/libcpupower*/
/liblockdep*/
/libusbip-dev/
/linux-*
!/linux-cpupower.install
!/linux-cpupower.manpages
/lockdep/
/po/
/rules.gen
/stamps/
/tests/control
/tmp/
/usbip/
/xen-linux-system-*

# package tmp dir
linux-headers-4.4.0-cip-rt-am335x/
linux-kbuild-4.4.0-cip-rt-am335x/
uc2100-kernel/
uc2100-modules-std/
