# common
*.debhelper.log
*.substvars
*.postinst.debhelper
*.postrm.debhelper
files
debhelper-build-stamp

# package tmp dir
linux-headers-4.4.0-cip-am335x/
linux-kbuild-4.4.0-cip-am335x/
uc2100-kernel/
uc2100-modules-std/
uc3100-kernel/
uc3100-modules-std/
uc5100-kernel/
uc5100-modules-std/
uc8100a-me-kernel/
uc8100a-me-modules-std/
uc8100-kernel/
uc8100-modules-std/
uc8100me-kernel/
uc8100me-modules-std/
