Source: am335x-linux-4.4
Section: kernel
Priority: optional
Maintainer: Wes Huang <Wes.Huang@moxa.com>
Uploaders: Fero JD Zhou <FeroJD.Zhou@moxa.com>
           Ken CJ Chou <KenCJ.Chou@moxa.com>
           SZ Lin (林上智) <sz.lin@moxa.com>
           Remus Wu <remusty.wu@moxa.com>
Standards-Version: 4.1.2
Build-Depends:
 kmod,
 cpio,
 bc,
 liblz4-tool
Homepage: https://www.moxa.com/
Vcs-Git: http://gitlab.syssw.moxa.com/MXcore-Kernel/am335x-linux-4.4

Package: uc2100-kernel
Architecture: armhf
Depends: ${misc:Depends},
         uc2100-modules-std (= ${binary:Version})
Description: UC-2100 Flattened Image
 Flattened image includes Linux kernel image and device trees.
 Device tree describesthe hardware components on the device including
 its layout. This package contains device trees for all models of Moxa
 UC-2100 devices.

Package: uc2100-modules-std
Architecture: armhf
Depends: ${misc:Depends},
         kmod
Description: UC-2100 standard kernel modules
 The Linux standard kernel modules for UC-2100 Linux kernel image.
 This package contains all kernel modules for AM335x CIP Linux 4.4.
